.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 70px;
}

.header__homelink {
  transition: opacity 0.5s linear;
}

.header__homelink:hover {
  opacity: 0.7;
  cursor: pointer;
}

.header__logo {
  width: 38px;
}

.header__signblock {
  width: 183px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__navblock {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 38px);
}

.header__navblock_films {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 44px;
}

.header__register {
  text-decoration: none;
  color: #ffffff;
  transition: opacity 0.5s linear;
}

.header__register:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__login {
  max-width: 70px;
  background: #3ddc84;
  color: #000000;
  transition: opacity 0.5s linear;
  border-radius: 3px;
  text-decoration: none;
  padding: 8px 20px;
}

.header__films {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
}

.header__saved-films {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  align-items: center;
}

.header__profile {
  display: flex;
  gap: 17px;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

.header__user {
  background: #313131;
  height: 14px;
  width: 11.5px;
  border-radius: 4px;
  padding: 8px;
}

.header__login:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__menu {
  width: 44px;
  height: 44px;
  background: transparent;
  display: none;
  border: none;
  padding: 0;
}

.link {
  transition: opacity 0.5s linear;
}

.link:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding: 15px 30px;
  }

  .header__navblock_films {
    display: none;
  }

  .header__profile {
    display: none;
  }

  .header__menu {
    display: block;
  }

  .header__navblock {
    justify-content: end;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .header {
    padding: 17px 18px;
  }

  .header__signblock {
    width: 132px;
    font-size: 10px;
  }

  .header__login {
    padding: 5px 12px;
  }

  .header__navblock_films {
    display: none;
  }

  .header__profile {
    display: none;
  }

  .header__menu {
    display: block;
  }

  .header__navblock {
    justify-content: end;
  }

  .header__menu {
    height: 43px;
    width: 40px;
  }
}
