.filterCheckbox__input {
  width: 36px;
  height: 20px;
  background: url('../../images/checkbox.svg');
  appearance: none;
  transition: 0.5s;
  cursor: pointer;
}

.filterCheckbox {
  display: flex;
  justify-content: center;
  gap: 10px;
  border-bottom: 1px solid #424242;
  padding-bottom: 38px;
  padding-top: 29px;
}

.filterCheckbox__input:checked {
  background: url('../../images/checkboxChecked.svg');
}

.filterCheckbox__span {
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .filterCheckbox {
    padding: 48px 0 38px;
    margin-left: 8px;
  }
  .filterCheckbox__span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .filterCheckbox {
    padding-top: 41px;
  }
}
